<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fr2ViTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fr2ViTranslator.Properties.Settings>
            <setting name="Fr2ViTranslator_Fr2EnTranslatorService_Fr2EnTranslatorService"
                serializeAs="String">
                <value>http://localhost:7029/Fr2EnTranslatorService.asmx</value>
            </setting>
            <setting name="Fr2ViTranslator_En2ViTranslatorService_En2ViTranslatorService"
                serializeAs="String">
                <value>http://localhost:9504/En2ViTranslatorService.asmx</value>
            </setting>
        </Fr2ViTranslator.Properties.Settings>
    </applicationSettings>
</configuration>